<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if "OK" in args %}
    <p>Продукт успешно создан!</p><br>
{% endif %}
<form method = "post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {% if "Exists" in args %}
        <p>Товар с таким именем уже существует</p><br>
    {% endif %}
    {{ form.name }}
    <br>
    <p>Введите описание продукта</p>
    <br>
    {{ form.text }}
    <br>
    <p>Выберите продуктовую категорию</p>
    <br>
    <select name = "select">
        {%   for i in form.select.choices %}
            <option>{{ i }}</option>
        {% endfor %}
    </select>
    <br>
    <p>Выберите фотографии продукта</p>
    <br>
    {{ form.file }}
    <br>
    <p>Введите цену продукта</p>
    <br>
    {{ form.price }}
    <br>
    <p>Выберите страну производства</p>
    <br>
    <select name="country">
        {% for country in form.country.choices %}
            <option>{{ country }}</option>
        {% endfor %}
    </select>
    <br>
    <p>Выберите производителя</p>
    <br>
    <select name = "producer">
        {% for producer in form.producer.choices %}
            <option>{{ producer }}</option>
        {% endfor %}
    </select>
    {{ form.submit }}

</form>
</body>
</html>