<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="/create_sale">KEK</a><br>
    <a href="/show/fav/products">Редактировать Любимые продукты</a>
    <br>
    <a href="/show/category">Управление товарными категориями!</a>
    <br>
    <a href="/show/country">Управление странами!</a>
    <br>
    <a href="/create/producer">Создать компанию!</a>
    <br>
    <a href="/create/product">Создать продукт!</a>
    <br>
    <a href="/show/shop">Управлять магазином!</a>
    <br>
    <a href = "/exit">Выйти</a>

</body>
</html>