<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/show/category">Вернутся обратно</a>
<br>
{% if "Exists" in args %}
    <p>Новое имя категории не должно совпадать с существующим</p>
{% endif %}
<p>Если вы хотите сохранить свойство объекта, то просто оставьте поле свойства пустым</p>
<form method="POST">
    {{ form.hidden_tag() }}
        <p>Введите имя новой категории</p>
    {{ form.NameCategory}}
    {{ form.submit }}
</form>
</body>
</html>