<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="/login">Авторизоваться</a>
    <br>
    {% if "OK" in args %}

        <p>Пароль успешно изменён!</p>

    {% endif %}
    {% if "OK" not in args %}
        {% if "Exists" in args %}
            <p>Новый пароль не должен совподать с предыдущим</p>
        {% endif %}
        <label>Введите новый пароль</label>
        <br>
        <form method = "post">
            {{form.new_password}}
            {{ form.submit }}
        </form>
    {% endif %}
</body>
</html>